.sidebar{
    //background-color: lightcoral;
    flex: 1;
    border-right: 0.5px solid rgb(230,227,227);
    min-height: 100vh;
    background-color: white;

    .top{
        height:50px;
        //background-color: aquamarine;
        display:flex;
        align-items: center;
        justify-content:center;

        .logo{
            font-size:20px;
            font-weight: bold;
            color:#6439ff;
        }
    }
    hr{
        height:0;
        border:0.5px solid lightgray;
    }

    .center{
        padding-left: 10px;

        ul{
            list-style:none;
            margin:0;
            padding:0;
        }

        li{
            display:flex;
            align-items:center;
            padding: 21px;
            cursor:pointer;

            &:hover{
                background-color: rgb(131, 198, 247);
            }

            .icon{
                font-size:18px;
                color:#ffad39;
            }
            span{
                font-size:13px;
                font-weight:600;
                color:brown;
                margin-left:10px;
            }
        }
    }

    .bottom{
        display:flex;
        align-items: center;
        margin: 10px;

        .colorOption{
            width: 20px;
            height:20px;
            border-radius: 5px;
            border:1px solid red;
            cursor:pointer;
            margin: 10px;

            &:nth-child(1){
                background-color: white;
            }
            &:nth-child(2){
                background-color: dark
                ;
            }
            &:nth-child(3){
                background-color: darkblue;
            }
        }
    }
}